<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Translator</title>
    <link rel="stylesheet" href="./static/bootstrap.min.css">
</head>
<body>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

    <!-- 引入 Bootstrap JS 和依赖的 Popper.js 以及 jQuery -->
    <script src="./static/jquery-3.5.1.slim.min.js"></script>
    <script src="./static/popper.min.js"></script>
    <script src="./static/bootstrap.bundle.min.js"></script>
</body>
<style>
{% block style %}
{% endblock %}
</style>
<script>
{% block script %}
{% endblock %}
</script>
</html>
