{% extends "base.html" %}

{% block content %}
<div class="row">
    <div id="jump-links">
        <a href="#" onclick="window.location.reload(); return false;">R</a><br>
    </div>
    {% for image in images_data %}
    <div class="col-6 col-md-6 col-lg-4 mb-4">
        <div class="card">
            <img src="store/{{image['folder_name']}}/thumbnail.jpg" class="card-img-top" alt="{{ image['folder_name'] }}" loading="lazy" onerror="onerror=null;src='store/{{image['folder_name']}}/thumbnail.jpg'">
            <div class="card-body">
                <h5 class="card-title">{{ image['folder_name'] }}</h5>
                <a href="{{ url_for('getOutput', folder=image['folder_name']) }}" class="btn btn-primary">查看详情</a>
            </div>
        </div>
    </div>
    {% if loop.index0 % 2 == 1 %}
    <div class="w-100"></div>
    {% endif %}
    {% endfor %}
    <!-- 分页组件 -->
     
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <!-- 首页链接 -->
            <li class="page-item">
                <a class="page-link" href="{{ url_for('galleryPage', page=1) }}">首</a>
            </li>
        
            <!-- 上一页链接 -->
            {% if page > 1 %}
            <li class="page-item">
                <a class="page-link" href="{{ url_for('galleryPage', page=page-1) }}">上</a>
            </li>
            {% endif %}
        
            <!-- 中间页码 -->
            {% for page in range(max(1, page-2), min(total_pages, page+3)+1) %}
            <li class="page-item {% if page == page %}active{% endif %}">
                <a class="page-link" href="{{ url_for('galleryPage', page=page) }}">{{ page }}</a>
            </li>
            {% endfor %}
        
            <!-- 下一页链接 -->
            {% if page < total_pages %}
            <li class="page-item">
                <a class="page-link" href="{{ url_for('galleryPage', page=page+1) }}">下</a>
            </li>
            <!-- 尾页链接 -->
            <li class="page-item">
                <a class="page-link" href="{{ url_for('galleryPage', page=total_pages) }}">尾</a>
            </li>
            {% endif %}
        
            <!-- 跳转输入框和按钮 -->
            <li class="page-item">
                <form action="{{ url_for('galleryPage') }}" method="get" style="display:flex;">
                    <input type="text" name="page" class="page-input" aria-label="Go to page" style="width:50px;"/>
                    
                </form>
            </li>

        </ul>
    </nav>
</div>
{% endblock %}
{% block style %}
<style>
#jump-links {
    position: fixed;
    right: 0px;
    top: 50%; /* 初始位置在垂直方向中间 */
    transform: translateY(-50%); /* 垂直居中 */
    z-index: 99;
    font-size: 60px;
  }
</style>
{% endblock %}