{% extends "base.html" %}

{% block script %}
<script>
// 设置两次点击的时间间隔阈值（例如：500毫秒）
const doubleClickThreshold = 1500;
// 记录上一次点击的时间
let lastClickTime = 0;
let lastText = '';
function copyText(text) {
    let currentTime = new Date().getTime();
    let addPrompt = false;
    // 检查是否是快速连续点击元素（双击）
    if (currentTime - lastClickTime < doubleClickThreshold) {
      if(text === lastText){
        // 如果是双击同一个元素，则添加prompt
        addPrompt = true;
      }else{
        // 如果是双击不同元素，则拼接复制(因为有的一句话被分为了两个文本框)
        text = lastText + text;
      }
    } else {

    }
    // 更新上一次点击时间
    lastClickTime = currentTime;
    lastText = text;
    copyToClip(addPrompt);
    
}
function copyToClip(addPrompt = false){
  // Clipboard API只能在HTTPS中使用
    // 创建一个临时的textarea元素用于复制
    var textArea = document.createElement("textarea");
    prompt = "请分析此日语句子的语法；然后将句子中的所有汉字转换为假名后输出整个句子；最后翻译整个句子。原文如下："
    if(addPrompt){
      textArea.value = prompt + lastText;
    }else{
      textArea.value = lastText;
    }
    
    document.body.appendChild(textArea);
    textArea.select();
    try {
        var successful = document.execCommand('copy');
        var msg = successful ? 'successful' : 'unsuccessful';
    } catch (err) {
        console.error('Oops, unable to copy', err);
    }
    document.body.removeChild(textArea);
}
function getDeviceAdjustedCoordinates(originalCoordinates) {
  var scale = window.innerWidth / document.documentElement.clientWidth;
  return originalCoordinates.map(coord => coord * scale);
}

function collapse(elementIndex){
  $('#translation-textarea-'+elementIndex).css('height', '60px');
  $('#ai-generate-textarea-'+elementIndex).css('height', '200px');
}
function unCollapse(elementIndex){
  let translationId = '#translation-textarea-'+elementIndex;
  let aiGenerateId = '#ai-generate-textarea-'+elementIndex
  $(translationId).css('height', '30px');
  $(aiGenerateId).css('height', '60px');

  const newTranslation = $(translationId).val();
  
  const newAiGenerate = $(aiGenerateId).val();
  $(aiGenerateId).val(newAiGenerate);
  if(newTranslation !== output[elementIndex]['translation'] || newAiGenerate !== output[elementIndex]['ai_generate']){
    output[elementIndex]['translation'] = newTranslation;
    output[elementIndex]['ai_generate'] = newAiGenerate;
 
    fetch(updateURL, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body:JSON.stringify(output[elementIndex])
    }).then(response => response.json())
    .then(json => console.log('Success:', json))
    .catch((error) => console.error('Error:', error));
  }
}

function updateTag(){
  gallery.tag = $('#gallery-tag').val();
  fetch(updateGalleryURL, {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',
    },
    body:JSON.stringify(gallery)
  }).then(response => response.json())
  .then(json => console.log('Success:', json))
  .catch((error) => console.error('Error:', error));
}
</script>
{% endblock %}

{% block content %}
  <script>
    const output = {{ output }};
    const gallery = {{gallery}};
    const updateURL = '/updateBlockInfo';
    const updateGalleryURL = '/updateGallery';
  </script>
  <div>
    <img src="{{img_name}}" class="static-img" loading="lazy"/>
  </div>
  <!-- 我真傻，真的...怎么没有早想到在前端加个按钮就能加前缀呢... -->
  <button class="btn btn-primary" onclick="copyToClip(true);">添加前缀</button>
  <textarea id="gallery-tag" class="form-control collapsible-textarea" rows="1" placeholder="tag" onblur="updateTag()">{{gallery.tag}}</textarea>
  {% for item in output %}
  <div class="row" id="item-{{ item['index'] }}">
    <div class="col-1 text-right">
      <!-- 输出锚点 -->
      <a href="#item-{{ item['index'] }}"><span class="badge badge-primary">{{ item['index'] }}</span></a>
    </div>
    <div class="col-11">
      <p onclick="copyText('{{ item['original'] }}');">{{ item['original'] }}</p>
      <textarea id="translation-textarea-{{ item['index'] }}" class="form-control collapsible-textarea" rows="1" placeholder="翻译" onfocus="collapse('{{ item['index'] }}')" onblur="unCollapse('{{ item['index'] }}')">{{item['translation']}}</textarea>
      <textarea id="ai-generate-textarea-{{ item['index'] }}" class="form-control collapsible-textarea" rows="1" placeholder="ai生成解释" onfocus="collapse('{{ item['index'] }}')" onblur="unCollapse('{{ item['index'] }}')">{{item['ai_generate']}}</textarea>
    </div>
  </div>
  {# absolute的规则是通过指定元素相对于最近的非 static 定位祖先元素的偏移，来确定元素位置，所以此div要与img在同一层#}
  <div class="coordinate-region"
    style="left: {{ item.xyxy[0] }}px; top: {{ item.xyxy[1] }}px; width: {{ item.xyxy[2] - item.xyxy[0] }}px; height: {{ item.xyxy[3] - item.xyxy[1] }}px;"
    onclick="copyText('{{ item['original'] }}');"></div>
  {% endfor %}
{% endblock %}
{% block style %}
<style >
.static-img{
  width: 355px;
}
#jump-links {
  position: fixed;
  right: 0px;
  top: 50%; /* 初始位置在垂直方向中间 */
  transform: translateY(-50%); /* 垂直居中 */
  font-size: 60px;
}
.coordinate-region {
  position: absolute;
  cursor: pointer;
  z-index: 99;
}
.coordinate-region:active {
  background-color: #f0f0f0; /* 举例，点击时的背景色 */
}
.container {
  margin-left: 0px;
  padding-left: 0px;
}
.collapsible-textarea {
  height: 30px; 
  overflow: hidden; 
  transition: max-height 0.5s ease-in-out; /* 平滑过渡效果 */
  color: red !important;
  overscroll-behavior-y: contain;
  overflow-y: auto;
}
</style>
{% endblock %}
