<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Output</title>
<script>
// 初始化一个计数器
let clickCount = 0;
// 设置两次点击的时间间隔阈值（例如：500毫秒）
const doubleClickThreshold = 2000;
// 记录上一次点击的时间
let lastClickTime = 0;
function copyText(text, prompt) {
    let currentTime = new Date().getTime();
    // 检查是否是快速连续点击（双击）
    if (currentTime - lastClickTime < doubleClickThreshold) {
        // 如果是双击，则复制其他内容
        text = prompt;
        // 重置点击计数器
        clickCount = 0;
    } else {
        // 如果不是双击，增加点击计数器
        clickCount++;
    }
    // 更新上一次点击时间
    lastClickTime = currentTime;
    // Clipboard API只能在HTTPS中使用
    // 创建一个临时的textarea元素用于复制
    var textArea = document.createElement("textarea");
    textArea.value = text;
    document.body.appendChild(textArea);
    textArea.select();
    try {
        var successful = document.execCommand('copy');
        var msg = successful ? 'successful' : 'unsuccessful';
    } catch (err) {
        console.error('Oops, unable to copy', err);
    }
    document.body.removeChild(textArea);
    
}
function getDeviceAdjustedCoordinates(originalCoordinates) {
  var scale = window.innerWidth / document.documentElement.clientWidth;
  return originalCoordinates.map(coord => coord * scale);
}
</script>
</head>
<body>
    <img src="{{folder}}/labeled.png" class="img-fluid mx-auto d-block" style="width: 1280px;" loading="lazy" onerror="onerror=null;src='{{folder}}/labeled.png'"/>
    <div class="container">
        <div class="row">
          {# 
          <div class="col-3">
            <!-- 页面右边的跳转链接 -->
            <div id="jump-links">
                {% for item in output %}
                  <a href="#item-{{ item['index'] }}">{{ item['index'] }}</a><br>
                {% endfor %}
            </div>
          </div>#}
          <div class="col-9">
            <!-- 主要内容 -->
            {% for item in output %}
                <div class="row" id="item-{{ item['index'] }}">
                  <div class="col-1 text-right">
                    <!-- 输出锚点 -->
                    <a href="#item-{{ item['index'] }}"><span class="badge badge-primary">{{ item['index'] }}</span></a>
                  </div>
                  <div class="col-11">
                    <p onclick="copyText('{{ item['original'] }}','{{ item['prompt'] }}');">{{ item['original'] }}</p>
                    <p onclick="copyText('{{ item['original'] }}','{{ item['prompt'] }}');">{{ item['prompt'] }}</p>
                  </div>
                </div>
                <div class="coordinate-region"
                  style="left: {{ item.xyxy[0] }}px; top: {{ item.xyxy[1] }}px; width: {{ item.xyxy[2] - item.xyxy[0] }}px; height: {{ item.xyxy[3] - item.xyxy[1] }}px;"
                  onclick="copyText('{{ item['original'] }}','{{ item['prompt'] }}');"></div>

            {% endfor %}
          </div>
        </div>
      </div>
    <style>
        #jump-links {
          position: fixed;
          right: 0px;
          top: 50%; /* 初始位置在垂直方向中间 */
          transform: translateY(-50%); /* 垂直居中 */
          font-size: 60px;
        }
        .coordinate-region {
          position: absolute;
          cursor: pointer;
      }
      </style>
</body>

</html>
