// 初始化一个计数器
let clickCount = 0;
// 设置两次点击的时间间隔阈值（例如：500毫秒）
const doubleClickThreshold = 2000;
// 记录上一次点击的时间
let lastClickTime = 0;
let lastText = '';
function copyText(text, prompt) {
    let currentTime = new Date().getTime();
    // 检查是否是快速连续点击*同一个*元素（双击）
    if (currentTime - lastClickTime < doubleClickThreshold && text === lastText) {
        // 如果是双击，则复制其他内容
        text = prompt;
        // 重置点击计数器
        clickCount = 0;
    } else {
        // 如果不是双击，增加点击计数器
        clickCount++;
    }
    // 更新上一次点击时间
    lastClickTime = currentTime;
    lastText = text;
    // Clipboard API只能在HTTPS中使用
    // 创建一个临时的textarea元素用于复制
    var textArea = document.createElement("textarea");
    textArea.value = text;
    document.body.appendChild(textArea);
    textArea.select();
    try {
        var successful = document.execCommand('copy');
        var msg = successful ? 'successful' : 'unsuccessful';
    } catch (err) {
        console.error('Oops, unable to copy', err);
    }
    document.body.removeChild(textArea);
    
}