{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 col-sm-12">
                <h1 class="text-center">Upload Image</h1>
                <form action="{{ url }}" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="filename">文件名:</label>
                        <input type="text" class="form-control" id="filename" name="filename" placeholder="文件名，不输入默认为上传文件名">
                        <label for="authorname">作者:</label>
                        <input type="text" class="form-control" id="authorname" name="authorname" placeholder="作者名">
                        <label for="sourceurl">源地址:</label>
                        <input type="text" class="form-control" id="sourceurl" name="sourceurl" placeholder="源地址">
                    </div>
                    <div class="form-group">
                        <p>上传多个文件时，是按照上传的文件名排序</p>
                        <input type="file" class="form-control-file" name="file" accept="image/*" multiple>
                    </div>
                    <button type="submit" class="btn btn-primary">Upload</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
